<ion-header>

  <ion-navbar color="blue">
    <ion-title>Login</ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
   <div class="logo">
   	  <img src="/assets/imgs/logo/login_logo.png">
   </div>
   <form [formGroup]="mygroup" (ngSubmit)="homePage()">
   <div class="login-form">
   	  <ion-list>

  <ion-item>
    <ion-label floating><span><ion-icon name="person"></ion-icon></span> User Id</ion-label>
    <ion-input type="text" formControlName="userid" [(ngModel)]="logData.userid"></ion-input>
  </ion-item>
  <p *ngIf="userid.hasError('required') && userid.touched">
    <span class="red">Pls Enter your User Id</span>
  </p>
  <ion-item>
  	 
     <ion-label floating><span><ion-icon name="lock"></ion-icon></span> Password</ion-label>
    <ion-input type="password" formControlName="password" [(ngModel)]="logData.pwd"></ion-input>
  </ion-item>
  <p *ngIf="password.hasError('required') && password.touched">
    <span class="red">Pls Enter your password</span>
  </p>
</ion-list>
   </div>
   <div class="remember">
   	<ion-list>
   	<ion-item>
   	<ion-label>Remember me</ion-label>
    <ion-checkbox class="checkbox-margin" required></ion-checkbox>
</ion-item>
</ion-list>
   </div>
   <button   type="submit" ion-button block >LOG IN</button>
   <div class="forgot-password">
   	  <a href="#"  (click)="forgotPass()">Forgot Password?</a>
   </div>
 </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-login">
    	<p>Don't have account?<span> <a (click)="signUp()"> Sign Up</a></span></p>
    </div> 	
  </ion-toolbar>
</ion-footer>
 