page-login {
   .logo{
     width:70%;
     height:auto;
     margin:auto;
   }
   .checkbox-margin{
     margin: 9px 10px 9px 4px !important;
   }
   .forgot-password{
     margin-top:10px;
     text-align:center;
   }
   .footer-login{
     text-align:center;
   }
   .red{
     color: red;
     margin-left: 16px;
   }
  
    
}
