page-edit-profile {
        .profile{
     margin-top:8px;
   }
   .edit{
     float:right;
     background-color:#1090fd;
     box-shadow:none;
     border:none;
   }
   .profile-box{
     height:auto;
     width:100%
   }
   .profile-pic{
     width: 90px !important;
     height: 90px !important;
     border: 2px solid #fff;
     border-radius: 100%;
     overflow: hidden !important;
     margin: auto;
   }
   .profile-name{
    text-align: center;
    color:#fff;
    text-transform: capitalize;
   }
   .allheading{
     text-transform: capitalize;
   }
   .img-icon{
    border-radius: 0px !important;
    width: 52% !important;
    height: auto !important;
   }
}
