page-follow-up-details {
   .firstname{
      color:gray;
      width:50%;
      float:left;
      text-align:left;
   }
   .details{
   width:50%;
   float:left;
   text-align:left;
   font-weight:bold;
   }
   .item{
     border-bottom: 2px solid gray;
   }

}
