<ion-header>
   <ion-navbar color="blue">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

    <div class="logo">
        <img src="/assets/imgs/logo/login_logo.png">
    </div>
    <form [formGroup]="signupform" (ngSubmit)="homePage()"> 
	<!-- <div class="profile-upload">
		<div class="profile-area">
			<img src="assets/imgs/profile.jpg">
		</div>	
    </div> -->
    <div>
    	<ion-list>
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" formControlName="fname" [(ngModel)]="userData.fname"></ion-input>
        </ion-item>
        <p *ngIf="fname.hasError('required') && fname.touched">
            <span class="red">Pls Enter your first name</span>
        </p>
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input type="text" formControlName="lname" [(ngModel)]="userData.lname"></ion-input>
      </ion-item>
      <p *ngIf="lname.hasError('required') && lname.touched">
          <span class="red">Pls Enter your last name</span>
      </p>
       <ion-item>
          <ion-label floating>email</ion-label>
          <ion-input type="text" formControlName="email" [(ngModel)]="userData.email"></ion-input>
          <p *ngIf="email.hasError('required') && email.touched">
            <span class="red">enter your email</span>
        </p>
        </ion-item>
        <ion-item>
          <ion-label floating>User ID</ion-label>
          <ion-input type="text" formControlName="userid" [(ngModel)]="userData.userid"></ion-input>
          <p *ngIf="address.hasError('required') && address.touched">
            <span class="red">User ID</span>
        </p>
        </ion-item>
        <ion-item>
          <ion-label floating>User Type</ion-label>
          <ion-input type="text" formControlName="usertype" [(ngModel)]="userData.usertype"></ion-input>
          <p *ngIf="address.hasError('required') && address.touched">
            <span class="red">usertype</span>
        </p>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password" [(ngModel)]="userData.pwd"></ion-input>
      </ion-item>
      <p *ngIf="password.hasError('required') && password.touched">
          <span class="red">Pls create your password</span>
      </p>
         <!-- <ion-item>
            <ion-label floating>All Address</ion-label>
            <ion-textarea rows="3" formControlName="address"></ion-textarea>
        </ion-item>
          <p *ngIf="address.hasError('required') && address.touched">
               <span class="red">enter your address</span>
             </p>
         -->
    </ion-list>
   </div>
     <div class="policy">
   	  <p>By signing up, you agree all the <span><a href="#">terms and Privacy Policy</a></span></p>
   </div>
   <button ion-button block type="submit">Sign UP</button>
   </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-login">
    	<p>Already have an account?<span> <a (click)="loginPage()"> Sign in</a></span></p>
    </div> 	
  </ion-toolbar>
</ion-footer>
