page-sign-up {
   .profile-area{
        border-radius: 100%;
        overflow: hidden;
        width: 100px;
        margin:auto;
        height:100px;
   }
   .policy{
     margin:auto;
   }
    .footer-login{
     text-align:center;
   }
   .red{
    color: red;
  }
}
