<ion-header>
   <ion-navbar color="blue">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="signupform" (ngSubmit)="homePage()"> 
	<div class="profile-upload">
		<div class="profile-area">
			<img src="assets/imgs/profile.jpg">
		</div>	
    </div>
    <div>
    	<ion-list>
        <ion-item>
            <ion-label floating>Full Name</ion-label>
            <ion-input type="text" formControlName="fullname"></ion-input>
        </ion-item>
        <ion-item *ngIf="fullname.hasError('required') && fullname.touched">
            <p class="red">Pls Enter your full name</p>
          </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="password.hasError('required') && password.touched">
            <p class="red">Pls create your password</p>
          </ion-item>
        </ion-list>
        <ion-grid>
        	<ion-label >Mobile Number</ion-label>
           <ion-row>
            <ion-col col-6>
            	<ion-select multiple="false"  okText="OK" cancelText="cancel" formControlName="countrycode">
                   <ion-option value="bacon" selected="true">+91</ion-option>
                   <ion-option value="olives">+81</ion-option>
                   <ion-option value="xcheese">+75</ion-option>
                </ion-select>
                <ion-item *ngIf="countrycode.hasError('required') && countrycode.touched">
                    <p class="red">Select country code</p>
                  </ion-item>
            </ion-col>
            <ion-col col-6><ion-input type="number" placeholder="9839629561" formControlName="mobile"></ion-input>
              <ion-item *ngIf="mobile.hasError('required') && mobile.touched">
                  <p class="red">enter moblie</p>
                </ion-item>
            </ion-col>
            
           </ion-row>
        </ion-grid>
        <ion-list>
           <ion-item>
            <ion-label floating>All Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
        <ion-item *ngIf="address.hasError('required') && address.touched">
            <p class="red">enter your address</p>
          </ion-item>
        
    </ion-list>
   </div>
     <div class="policy">
   	  <p>By signing up, you agree all the <span><a href="#">terms and Privacy Policy</a></span></p>
   </div>
   <button ion-button block type="submit">Sign UP</button>
   </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-login">
    	<p>Already have an account?<span> <a (click)="loginPage()"> Sign in</a></span></p>
    </div> 	
  </ion-toolbar>
</ion-footer>
