page-quotation-details {
   .extrabox{
     height:40px;
     width:100%;
     background-color:#deeaf6;
   }
   .extrabox p{
      padding:12px 24px; 
      color:#6a7177;
      font-size:16px;
   }
}
