page-today-follow-up {
   .position-right{
      float:right;
      color:gray;
      font-size:30px;
      margin-top:8px;
   }
   .card-title{
     color:#ccc;
     margin-bottom:5px;
   }
   .card-subtitle{
    color:#1090fd;
    font-weight:bold;
   }
}
